{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="text-center my-5">Créer un utilisateur</h1>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header bg-light">
						<h4 class="mb-0">Nouveau Utilisateur</h4>
					</div>
					<div class="card-body">
						{{ form_start(form, {'action' : path('user_create')}) }}
						<div class="mb-4">
							{{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom d\'utilisateur'}}) }}
							{{ form_errors(form.username) }}
						</div>
						<div class="mb-4">
							{{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez l\'adresse email'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.password.first, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le mot de passe'}}) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.password.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez le mot de passe'}}) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.roles, 'Rôles', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.roles, {'attr': {'class': 'form-select'}}) }}
                                {{ form_errors(form.roles) }}
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Ajouter l'utilisateur</button>
                            </div>
                        {{ form_end(form) }}
						</div>
					</div>
					<div class="mt-4 text-center">
						<a href="{{ path('user_list') }}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
